@import './../../../global.scss';

.tours_con{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;

    .tours_header_con{
        padding: 50px;
    }

    .card_con{

        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 20px 100px;
            margin: 20px;
            background-color: $light-sea-green;
        
            .delete{
                cursor: pointer;
                margin-left: 30px;
            }
          }  
      }
}