@import "./../../global.scss";

.form_con{

    form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.5fr;
        padding-top: 20px;
        gap: 10px;

        @include mobile{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        input{
            height: 50px;
            border: none;
            padding-left: 20px;
            background-color:rgb(237, 237, 237) ;
        }

        textarea{
            height: 200px;
            background-color:rgb(237, 237, 237) ;
            border: none;
            padding: 20px 0px 0px 20px;
        }

        .message{
            grid-column: 1/-1;
            grid-row: 2/3;

            @include mobile{
                grid-row: 4/5;
            }
        }

        button{
            background-color: $light-sea-green;
            border: none;
            width: 70%;
            color: $white;
            cursor: pointer;
            transition: all 0.2s ease;

            @include mobile{
                height: 50px;
                width: 100%;
            }

            @include pad{
                grid-column: 1/-1;
                height: 50px;
                width: 100%;
            }


          &:hover {
            background-color: $black-coral;
          }
        }
        
    }

}

