@import './../../global.scss';

.team_con{
    padding: 0 10%;
    background-color: $white;

    .team_card_con{
        margin: auto;
        
        h2{
            font-size: 3rem;
            text-align: center;
        }

        .team_card_grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px 20px;
            margin: 50px 0px;
        }
        
    }
}

