@import "./../../global.scss";

.about_wrapper {
  @include flexCenter;
  padding: 0px 10%;
  background-color: $white;
  height: 600px;

  .about_con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    .about_text_con {
      width: 500px;

      h2{
        font-size: 2.5rem;
        padding: 20px 0 ;
      }

      h3{
        font-size: 1.5rem;
        font-weight: 200;
        padding-bottom: 10px;
        color: $light-sea-green;
      }

      .hr_con{
        display: flex;
        padding-bottom: 25px;

        hr:nth-of-type(1){
          background-color: $light-sea-green;
          height: 5px;
          width: 45%;
          border: none;
        }

        hr:nth-of-type(2){
          width: 65%;
          height: 4px;
          border: none;
          background-color: rgb(220, 220, 220);
          margin-top: 1px;
        }
      }

      button {
        width: 145px;
        height: 52px;
        margin-top: 40px;
        background-color: $light-sea-green;
        border: none;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: $black-coral;
        }
      }
    }
  }
}
