.nav_admin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(43, 31, 131);
    
    
    ul{
        list-style: none;
        display: flex;
        gap: 100px;
        padding: 0;

        li a{
            color: white;
            text-decoration: none;
        }
    }

    button{
        margin-left: 50px;
        height: 30px;
        width: 100px;
        background-color: rgb(219, 219, 219);
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
    }
}