.home_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    height: 80vh;

    .home_welcome{
        
        
        h1{
         padding: 30px 0 10px 0;
        }

        p{
            padding-bottom: 30px;
        }
    }

    .home_subs{
        padding-bottom: 20px;
        
        p{
            padding: 8px 0;
        }
    }
}