.home_wrapper{
    display: flex;
    align-items: center;
    max-width: 800px;
    padding: 0px 10%;

    .home_wrapper_con{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}