// Farver
$black-coral: #586775ff;
$light-sea-green: #01B3A7ff;
$white: #FEFEFEff;
$lightGray: rgb(242, 242, 242) ;
$prussian-blue: #11263Aff;
$prussian-blue-2: #162E44ff;

// Padding Var
$desktop:0px 200px;
$pad:0px 50px;

// Flex center mixin
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}


// Mobil mixin
$Mwidth: 790px;
$SDwidth: 1020px;


@mixin mobile {
    @media (max-width: #{$Mwidth}) {
        @content;
    }
}

@mixin pad {
    @media (min-width: #{$Mwidth}) and (max-width: #{$SDwidth}) {
        @content;
    }
}

@mixin desk {
    @media (min-width: #{$SDwidth}) and (max-width: 1650px) {
        @content;
    }
}