@import "./../../global.scss";

.slider_con {
  grid-column: 1/-1;
  grid-row: 1/3;
  width: 100%;
  position: relative;

  .s_images {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .slider_text_con{
    position: absolute;
    top: 25%;
    left: 200px;
    color: $white;
    
    h2{
      font-size: 1.4rem;
      font-weight: 200;
      padding-bottom: 8px;
    }

    h1{
      font-size: 3.5rem;
    }
  }

  .dot_container {
    position: absolute;
    right: 100px;
    top: 250px;
    text-align: center;
    z-index: 10;

    .dot {
      display: flex;
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 13px;
      background-color: $white;
      transition: background-color 0.3s ease;
    }

    .active,
    .dot:hover {
      background-color: $light-sea-green;
    }
  }
}
